# BEGIN DINGDANG OPS MANAGEMENT WEB
__OPS_MANAGEMENT_DOMAIN__ {
    encode gzip zstd
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        -Server
    }
    reverse_proxy 127.0.0.1:__OPS_MANAGEMENT_PORT__
}
# END DINGDANG OPS MANAGEMENT WEB
